

		<script src="__PUBLIC__/Common/js/jquery-1.10.2.min.js?version={:getOneConfig('version')}"></script>
        <script src="__PUBLIC__/Common/js/ajaxObject.js?version={:getOneConfig('version')}"></script>
        <script src="__PUBLIC__/Common/js/popShow.js?version={:getOneConfig('version')}"></script>
     	<script src="__PUBLIC__/Home/js/mui.min.js?version={:getOneConfig('version')}"></script>
      	<script src="__PUBLIC__/Home/js/common.js?version={:getOneConfig('version')}"></script>
		<script> var _public = '__PUBLIC__';</script>
	</body>
</html>