<include file="Index:header" />

		<div class="listBespoke">
			<div  data-type="Bespoke" data-prefix="b"  class="contentlist">
				
		
			</div>
			<div class="list mui-clearfix"> 
				<button class="addMore"> 加载更多</button>
			</div>
		
			<div class="padding1em mui-text-center">
				<h6>广西蚁客科技有限公司版权所有</h6>
			</div>
		</div>
<include file="Index:nav" />
<include file="Index:footer" />

<script type="text/javascript">
	   var 	ajaxListPage = "{:U('ajaxBespokeList')}",
	   	   	showUrl=  "{:U('show',['id'=>'00'])}",
	   	   	userID = '{$Think.get.id}';
	   	   	page = 1,
	   	   	keyword = 1;
	   
	   
	   
	   </script>