<include file="Index:header" />

		<div class="Children mui-content">
			<div data-type="Children" data-prefix="c" class="contentlist">
									
				
		
			</div>
			<div class="list mui-clearfix">
				

				<button class="addMore"> 加载更多</button>
			</div>
		
		
		</div>
<include file="Index:nav" />
<include file="Index:footer" />

<script type="text/javascript">
	
	   var 	ajaxListPage = "{:U('ajaxChildrenList')}",
	   	   	certificateUrl=  "{:U('certificate',['id'=>'00'])}",
	   	   	bespokeUrl =  "{:U('bespoke',['id'=>'00'])}",
	   	   	page = 1,
	   	   	keyword = 1;
	   
	   
	   
	   </script>