<include file="Index:header" />

<div class=" mui-content">

	<div data-type="Houses" data-prefix="user"  class="contentlist">	
	
		
	</div>
	<div class="list mui-clearfix">
		
		<a href="{$showUrl}" id="release" class="button-link fr"> <span></span> 我要发布</a>
		<button class="addMore"> 加载更多</button>
	</div>


</div>
<include file="Index:nav" />
<include file="Index:footer" />

<script type="text/javascript">
   var 	ajaxListPage = "{$ajaxListPage}",
   		action = 'release' ;
   	   	catid = '{$catid}',
   	   	showUrl=  "{$showUrl}",
   	   	tag=  "{$tag}",   	  
   	    keyword = 1,
   	   	fitter = '',
   	   	order='add_time',
   	   	sort='desc',
   	   	act = 'release';
   
   
   
   
   </script>