<include file="Index:header" />
		<div class="mui-content" style="padding-bottom: 55px;">
			
			<div class="mui-content-padded showInfo">
				
				<h3 class="center-align">{$row.name}</h3>
				
				<h6 class="fl">{$row.author}</h6> 
				<h6 class="fr">{$row.release_time|fDate=###}</h6>
				
				<div class="mui-clearfix"></div>
				{$row.detials}
			</div>
			
            
			<!--
            	作者：33191690@qq.com
            	时间：2017-09-24
            	描述：-->
			<div class="padding1em mui-text-center">
				<h6>广西蚁客科技有限公司版权所有</h6>
			</div>
		</div>
	
    	 <include file="Index:nav" />
         <include file="Index:footer" />
       <script type="text/javascript">
	   var 	ajaxListPage = "{:U('ajaxListPage')}",
	   	   	catid = '{$catid}',
	   	   	artileUrl=  "{:U('show',['id'=>'00'])}";
	   
	   
	   
	   </script>