<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>木炭搜搜标签列表</title>
<link href="/Public/Admin/css/style.css" rel="stylesheet" />
<script src="/Public/Common/js/jquery-1.10.2.min.js"></script>
<script src="/Public/Common/js/ajaxObject.js"></script>
<script src="/Public/Common/js/popShow.js"></script>
<script src="/Public/Admin/js/common.js"></script>
<script>
var updateUrl = '{:U("updateField")}';
</script>
</head>

<body class="main">
<div class="header"><span></span>首页</div>
<div class="h6bg"></div>
<div class="content">
  <ul class="navMain">
   
  </ul>
</div>
</body>
</html>
