<include file="Index/header" />



<div class="header"><span></span>文章列表</div>
<div class="h6bg"></div>
<div class="content">

	<form action="" class="sourch" method="post">
		<a class="fr" href="{:U('Artiles/editArtiles')}">+ 新增文章</a>
	</form>
	
	<table cellpadding="0" cellspacing="0" class="tableList">
<tr>
	<th width="30"><input type="checkbox" class="all"></th>
	<th width="70">文章ID</th>
    <th width="150">文章标题</th>  
    <th width="150">文章分类</th>   
    <th width="100">是否发布</th>
    <th width="100">发布时间</th>
    <th width="100">访问数量</th>
    <th width="50">排序</th>
    <th width="150">操作</th>
</tr>
<volist name="list" id="vo">
<tr id="id{$vo.tag_id}">
	<td><input type="checkbox" class="id" value="{$vo.artile_id}"></td>
	<td>{$vo.artile_id}</td>
    <td>{$vo.name}</td>
    <td>{$vo.cat_name}</td>
     <td><switch name="vo.release">
    <case value="0"><img src="/Public/Admin/images/no.png" class="boole"></case>
    <case value="1"><img src="/Public/Admin/images/yes.png"  class="boole"></case>
    <defalut />错误参数
    </switch></td>
    <td><if condition="$vo.release eq 1">{$vo.release_time|fDate=###} </if></td>
    <td>{$vo.read_number}</td>
    <td><span class="sort" data-id="{$vo.cat_id}">{$vo.sort}</span></td>
    <td>
    	<a href="{:U('editArtiles',['id'=>$vo['artile_id']])}">修改</a>
    	<a href="javascript:if(confirm('你确定要删除这条信息吗')){location.href='{:U('delArtiles',['id'=>$vo['artile_id']])}';}">删除</a> 
    </td>
</tr>

</volist>

<tr>
<th colspan="9">{$page}</th>
</tr>

</table>
</div>


<include file="Index/footer" />