<include file="Index/header" />

  <script src="/Public/Common/js/jedate/jedate.js" type="text/javascript"></script>
  <script>
  var imagesCount = parseInt('{$row.imgCount}');
  var checkRepeatField = '{:U("checkRepeatField")}';
  </script>

<div class="header"><span></span>用户 <font> 会员分组 &gt; 添加/修改资料</font> </div>
<div class="h6bg"></div>
<div class="content">
    <form action="" method="post" class="tableEdit user " >
    <ul class="field">
        <li><span><i>*</i>分组名称</span>
        <input type="text" name="name"  placeholder="请输入分组名称" value="{$row.name}">
      </li>
       
      </ul>

    <div class="clear" style="height:2px;"></div>
    <div class="btn "> <a href="javascript:history.back();">取消</a>
        <input type="submit" class="sub" value="保存" />
        <input type="hidden" name="id" value="{$row.id}">
      </div>
  </form>
    </div>

<include file="Index/footer" />
